<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title">Welcome to Product Register! </mat-card-title>

  <mat-card-subtitle class="subtitle">
    A simple CRUD application developed with Angular.JS.
  </mat-card-subtitle>

  <mat-card-content class="content">
    <img src="assets/img/angular.png" alt="angular framework" />
    <section class="description">
      <p>
        This is a Product Register project developed to practice knowledge about Angular.JS in version 9, with the features: create, read, update and delete. 
        The knowledge was aquired following Cod3r Course, by Leonardo Leitão.
        <br><br>
        Thank you for sharing this free course with the excellent quality and
        didactics!
      </p>
    </section>

    <section class="reference">
      <article>
        <h2>Reference</h2>
        <a href="https://www.cod3r.com.br/courses/angular-9-essencial">
          <strong>Cod3r Course</strong> - https://www.cod3r.com.br/courses/angular-9-essencial.
        </a>
      </article>
      
    </section>
    <article>
        
      </article>
  </mat-card-content>
  <!--
  <ul>
    <li *myFor="let n em [1, 2, 3]">{{ n }}</li>
  </ul> -->
</mat-card>
